Source: zlink
Section: libs
Priority: optional
Maintainer: libzlink Developers <zlink-dev@lists.zlink.org>
Build-Depends: debhelper (>= 9),
 dh-autoreconf,
 libnorm-dev,
 libpgm-dev,
 libunwind-dev | libunwind8-dev | libunwind7-dev,
 libnss3-dev,
 libgnutls28-dev | libgnutls-dev,
 libbsd-dev,
 pkg-config,
 asciidoc-base | asciidoc, xmlto,
Standards-Version: 3.9.8
Homepage: http://www.zlink.org/

Package: libzlink5
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: lightweight messaging kernel (shared library)
 ØMQ is a library which extends the standard socket interfaces with features
 traditionally provided by specialised messaging middleware products.
 .
 ØMQ sockets provide an abstraction of asynchronous message queues, multiple
 messaging patterns, message filtering (subscriptions), seamless access to
 multiple transport protocols and more.
 .
 This package contains the libzlink shared library.

Package: libzlink3-dev
Architecture: any
Section: libdevel
Depends: libzlink5 (= ${binary:Version}), ${misc:Depends},
 libnorm-dev,
 libpgm-dev,
 libunwind-dev | libunwind8-dev | libunwind7-dev,
 libnss3-dev,
 libgnutls28-dev | libgnutls-dev,
 libbsd-dev,
Conflicts: libzlink-dev, libzlink5-dev
Replaces: libzlink5-dev
Provides: libzlink5-dev
Multi-Arch: same
Description: lightweight messaging kernel (development files)
 ØMQ is a library which extends the standard socket interfaces with features
 traditionally provided by specialised messaging middleware products.
 .
 ØMQ sockets provide an abstraction of asynchronous message queues, multiple
 messaging patterns, message filtering (subscriptions), seamless access to
 multiple transport protocols and more.
 .
 This package contains the Zlink development libraries and header files.

Package: libzlink5-dbg
Architecture: any
Priority: extra
Section: debug
Depends: libzlink5 (= ${binary:Version}), ${misc:Depends}
Multi-Arch: same
Description: lightweight messaging kernel (debugging symbols)
 ØMQ is a library which extends the standard socket interfaces with features
 traditionally provided by specialised messaging middleware products.
 .
 ØMQ sockets provide an abstraction of asynchronous message queues, multiple
 messaging patterns, message filtering (subscriptions), seamless access to
 multiple transport protocols and more.
 .
 This package contains the debugging symbols for the Zlink library.
